__pycache__/
.pytest_cache/
.venv/
*.pyc
data/*.db
# Frontend dependencies
frontend/node_modules/
node_modules/
# Backup files
*.bak

data/raw/
# 디폴트 무시된 파일
/shelf/
/workspace.xml
# 에디터 기반 HTTP 클라이언트 요청
/httpRequests/


# 데이터베이스 및 임시 파일
*.db
.idea/

data/raw/
data/ver1_data/
data/ver1_routes/
data/vulnerable_group_data/
data_preprocessing/

scripts/
visualize_map/
