# 디폴트 무시된 파일
/shelf/
/workspace.xml
# 에디터 기반 HTTP 클라이언트 요청
/httpRequests/

# Python 캐시 파일
__pycache__/
*.pyc

# Node.js 모듈 및 캐시
node_modules/
frontend/node_modules/

# 데이터베이스 및 임시 파일
*.db
.idea/

data/raw/
data/ver1_data/
data/ver1_routes/
data/vulnerable_group_data/
data_preprocessing/

scripts/
visualize_map/